.SingleDatePickerInput{
    border: 0 !important;
}
.DateInput_input, .react-ios-time-picker-input {
    border: 1px solid rgba(222, 219, 219, 0.91) !important;
    border-radius: 7px;
    width: 250px;
    font-size: 16px;
    font-family: "Classic", 'sans-serif';
    padding: 8px;
    height: 45px;
}