.time-picker {
    font-family: "Classic", 'sans-serif';
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*transition: all .4s ease;*/
    height: 0;
    overflow: hidden;
}
.set-time{
    display:flex;
    justify-content:center;
}


.set{
    text-align:center;
    box-sizing:border-box;
    width:100%;
    font-weight:bold;
}

.time-picker.open{
    position: absolute;
    border-radius: 7px;
    border:1px solid #ddddddad;
    padding:10px;
    transition:all .5s ease;
    height:auto;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 #0000;
}